mat-form-field {
  width: 300%;
}

.spacer {
  margin: 0px 10px;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a99;
  background-color: #a00;
}
